@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Sans+Pro&display=swap");

.root {
  font-family: "Source Sans Pro", sans-serif;
  color: #040404;
}

.body {
  background-color: #ece5d5;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #040404;
  color: #fff;
  text-shadow: 0px 2px 3px rgb(255, 255, 255, 0.5);
  margin-bottom: 0.5rem;
  border-bottom: 6px solid #b48c36;
  box-shadow: 0px 0px 5px 0px #b48c36;
}

.episode-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 2rem;
}

.navigation-container {
  padding-bottom: 0.5rem;
}

.select-menu,
.search-box,
.back-button {
  margin: 0 0 0.5rem 1rem;
  color: #fff;
  background-color: #040404;
  border: 2px groove #b48c36;
  border-radius: 8px;
}

.episode-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select-menu {
  height: 2.2rem;
}

.select-menu:hover,
.select-menu:focus {
  outline: none;
  border: 2px groove #d8ab4e;
  cursor: pointer;
}

.search-box {
  height: 1.9rem;
  width: 11rem;
  cursor: text;
}

.search-box:hover,
.search-box:focus {
  outline: none;
  border: 2px groove #d8ab4e;
}

.display-status {
  padding: 1rem;
}

.back-button {
  height: 2.2rem;
  width: 15rem;
}

.back-button:hover,
.back-button:focus {
  cursor: pointer;
  border: 2px groove #d8ab4e;
}

.episode-card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 33rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #b48c36;
}

.episode-card > div:first-of-type {
  padding: 0.5rem 0 0.5rem 0;
  background-color: #040404;
  color: #d8ab4e;
  text-shadow: 0px 2px 3px rgba(180, 140, 54, 0.5);
  border-bottom: 4px groove #b48c36;
}
.episode-card > h2,
.episode-card > div:first-of-type {
  text-align: center;
}

.episode-card > h2 {
  font-family: "Playfair Display", serif;
}

.episode-card > img {
  padding: 1rem 1rem 0 1rem;
}

.episode-card > div > p {
  padding: 0 1rem 0 1rem;
}

.episode-card:hover,
.episode-card:focus {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #3f2b03;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040404;
  color: #fff;
  height: 2rem;
}

.footer > ul > li {
  list-style-type: none;
}

.footer > ul > li > a {
  color: #b48c36;
}
